{
	"$schema": "http://json.schemastore.org/prettierrc",
	"plugins": ["prettier-plugin-astro", "prettier-plugin-tailwindcss"],
	"bracketSpacing": true,
	"bracketSameLine": true,
	"singleAttributePerLine": false,
	"printWidth": 500,
	"semi": true,
	"singleQuote": false,
	"jsxSingleQuote": false,
	"tabWidth": 4,
	"trailingComma": "es5",
	"useTabs": true,
	"overrides": [
		{
			"files": "*.astro",
			"options": {
				"parser": "astro",
				"singleAttributePerLine": false,
				"singleQuote": false,
				"useTabs": true,
				"tabWidth": 4
			}
		}
	]
}
