@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
    html {
        font-weight: 300;
        color: #333;
    }
    /* h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "Zilla Slab", serif;
    } */
    .title {
        font-weight: 300;
        letter-spacing: 1px;
        font-size: 1rem;
    }
    strong {
        font-weight: 600;
    }
    #ekip {
        .ekipuyesi {
            position: relative;
            button {
                .info {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    left: 0;
                    top: 0;
                    display: none;
                    align-content: center;
                    place-items: center;
                    text-align: center;
                }
                &:hover,
                &:focus {
                    .info {
                        display: grid;
                        background-color: rgba(255, 255, 255, 0.85);
                    }
                }
            }
        }
    }
}
