@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
    html {
        font-weight: 300;
        color: #333;
    }
    /* h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "Zilla Slab", serif;
    } */
    .title {
        font-weight: 300;
        letter-spacing: 1px;
        font-size: 1rem;
    }
    strong {
        font-weight: 600;
    }
}
