@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.bg-page {
		background-color: var(--aw-color-bg-page);
	}
	.bg-dark {
		background-color: var(--aw-color-bg-page-dark);
	}
	.bg-light {
		background-color: var(--aw-color-bg-page);
	}
	.text-page {
		color: var(--aw-color-text-page);
	}
	.text-muted {
		color: var(--aw-color-text-muted);
	}
}

@layer base {
	:target {
		scroll-margin-top: 85px;
		@media screen and (min-width: 1024px) {
			scroll-margin-top: 105px;
		}
	}
	@media screen and (max-width: 639.98px) {
		.text-52 {
			font-size: 2.625rem !important;
		}
	}
	@media screen and (-webkit-min-device-pixel-ratio: 0) {
		::-webkit-scrollbar {
			width: 0.75em;
			height: 0.75em;
		}

		::-webkit-scrollbar-track {
			background-color: #f9f9f9;
		}

		::-webkit-scrollbar-thumb:vertical {
			height: 5em;
			background-color: #444;
		}
	}
	:root {
		--anasayfa-background-color: #000;
	}
	html {
		font-weight: 300;
		color: #333;
	}
	body {
		min-height: 100dvh;
	}
	.title {
		font-weight: 300;
		letter-spacing: 1px;
		font-size: 1rem;
		@media screen and (max-width: 576px) {
			font-size: 0.7rem;
		}
	}
	strong {
		font-weight: 600;
	}
	#ekip {
		.ekipuyesi {
			position: relative;
			button {
				.info {
					position: absolute;
					width: 100%;
					height: 100%;
					left: 0;
					top: 0;
					display: none;
					align-content: center;
					place-items: center;
					text-align: center;
					font-size: 80%;
					strong {
						letter-spacing: 0.8px;
					}
				}
				&:hover,
				&:focus {
					.info {
						display: grid;
						background-color: rgba(255, 255, 255, 0.85);
					}
				}
			}
		}
	}

	#header {
		a,
		button {
			font-size: 0.9rem;
		}
		#home {
			@apply my-3 lg:my-0;
		}
		.dropdown-menu {
			@media screen and (min-width: 1024px) {
				li {
					&:last-child {
						padding-bottom: 1rem;
					}
				}
			}
		}
		--logo-color: #00b3e3;
		--nav-primary-color: #333;
		--nav-secondary-color: #fff;
		&.home {
			--logo-color: #fff;
			--nav-primary-color: #fff;
			--nav-secondary-color: #333;
		}
		.header-logo {
			#finar {
				position: absolute;
				width: auto;
				height: 65px;
				top: -7px;
				@media screen and (min-width: 1024px) {
					top: -14px;
				}
				@media screen and (max-width: 639.98px) {
					height: 60px;
				}
			}
		}
		.aw-link-active {
			&::after {
				content: "";
				position: absolute;
				left: 1rem;
				width: 13px;
				height: 2px;
				background-color: #00b2e2;
			}
			@media screen and (min-width: 1024px) {
				&::after {
					bottom: 0.45rem;
				}
			}
		}
		#hizmetlermenusection {
			.sectionhead {
				font-size: 0.85rem;
				font-weight: 600;
				@media screen and (min-width: 1024px) {
					position: relative;
					margin-bottom: 10px;
					&::after {
						content: "";
						position: absolute;
						left: 0;
						right: 0;
						margin-inline: auto;
						bottom: -2px;
						width: 85%;
						height: 2px;
						background-color: #00b2e2;
					}
				}
			}
		}
		&.scroll:not(.home) /* > div:first-child */ {
			@apply bg-white backdrop-blur-md;
		}
		&.scroll.home /* > div:first-child */ {
			@apply bg-black backdrop-blur-sm;
		}
		&.expanded {
			nav {
				position: fixed;
				top: 95px;
				left: 0;
				right: 0;
				bottom: 70px !important;
				/*
				padding: 0 5px;
				@media screen and (max-width: 1023.98px) {
					width: calc(100% - 0.75em) !important;
				}
				*/
			}
		}
		@media screen and (min-width: 1024px) {
			.dropdown-menu {
				/* margin-top: 1.2rem; */
				visibility: hidden;
				opacity: 0;
				@apply translate-y-1;
			}
			.dropdown:hover .dropdown-menu {
				opacity: 1;
				visibility: visible;
				transition-property: opacity;
				transition-duration: 250ms;
				@apply translate-y-0;
			}
		}
		li.dropdown:has(> .dropdown-menu li > a.aw-link-active) {
			a.aw-link-active::after {
				display: none;
			}
			button {
				position: relative;
				&::after {
					content: "";
					position: absolute;
					left: 1rem;
					width: 13px;
					height: 2px;
					background-color: #00b2e2;
				}
				@media screen and (min-width: 1024px) {
					&::after {
						bottom: 0.45rem;
					}
				}
			}
		}
	}

	#faaliyetraporusvg,
	#entegrefaaliyetraporusvg,
	#halkaarzreklamkampanyalarisvg,
	#kurumsalkimliksvg,
	#surdurulebilirlikdanismanligisvg,
	#surdurulebilirlikraporusvg,
	#yatirimciiliskileriwebsitesisvg,
	#yatirimcisunumlarisvg {
		width: auto;
		height: 60px;
		margin-inline: auto;
		margin-bottom: 0.5rem;
	}
	@media screen and (max-width: 576px) {
		#faaliyetraporusvg,
		#entegrefaaliyetraporusvg,
		#halkaarzreklamkampanyalarisvg,
		#kurumsalkimliksvg,
		#surdurulebilirlikdanismanligisvg,
		#surdurulebilirlikraporusvg,
		#yatirimciiliskileriwebsitesisvg,
		#yatirimcisunumlarisvg {
			height: 40px;
		}
	}

	[astro-icon].icon-light > * {
		stroke-width: 1.2;
	}

	[astro-icon].icon-bold > * {
		stroke-width: 2.4;
	}

	[data-aw-toggle-menu] path {
		@apply transition;
	}
	[data-aw-toggle-menu].expanded g > path:first-child {
		@apply translate-x-[-3px] translate-y-[15px] -rotate-45;
	}

	[data-aw-toggle-menu].expanded g > path:last-child {
		@apply translate-x-[14px] translate-y-[-8px] rotate-45;
	}
}
