---
import Layout from "~layouts/Layout.astro";
---

<Layout>
    <h1>HOME</h1>
    <a href="/faaliyet-raporu/">faaliyet-raporu</a><br />
    <a href="/entegre-faaliyet-raporu/">entergre faaliyet-raporu</a>
</Layout>
