---
import Layout from "~layouts/Layout.astro";
---

<Layout>
    <a href="/faaliyet-raporu/">faaliyet-raporu</a><br />
    <a href="/entegre-faaliyet-raporu/">entergre faaliyet-raporu</a><br />
    <a href="/biz-kimiz/">biz kimiz</a><br />
    <a href="/finarsal-gostergeler/">finarsal göstergeler</a><br />
    <a href="/ailemiz/">ailemiz</a><br />
</Layout>
