---
import Layout from "~layouts/Layout.astro";
import ArticleTitle from "~components/articleTitle.astro";
import TitleWithLine from "~components/TitleWithLine.astro";
import chevDown from "~images/chevron-down-light.svg?raw";
import { FaDownload } from "react-icons/fa";
import AltMenu from "~components/altMenu.astro";
import { raporlamaAltMenuData } from "~navigation";
---

<Layout title="Türkiye Sürdürülebilirlik Raporlama Standartları" description="TSRS ile sürdürülebilirlik raporlaması 2024 yılı raporlama dönemi itibarıyla ülkemizde zorunlu hale geldi." seoImage="./turkiye-surdurulebilirlik-raporlama-standartlari-og.png">
	<ArticleTitle title="Türkiye Sürdürülebilirlik Raporlama Standartları (TSRS)" spot="TSRS ile sürdürülebilirlik raporlaması 2024 yılı raporlama dönemi itibarıyla ülkemizde zorunlu hale geldi." />
	<TitleWithLine icon={chevDown} />
	<div class="prose mb-6 columns-1 pb-6 tracking-[.1px] prose-p:break-inside-avoid prose-p:leading-[1.6] prose-li:leading-[1.6] md:columns-2">
		<p class="mb-0 font-bold text-mavi">Sürdürülebilirlik raporlaması artık zorunlu</p>
		<p class="mt-0">Kamu Gözetimi, Muhasebe ve Denetim Standartları Kurumu (KGK) tarafından yayımlanan Türkiye Sürdürülebilirlik Raporlama Standartları (TSRS) ile sürdürülebilirlik raporlaması 2024 yılı raporlama dönemi itibarıyla ülkemizde zorunlu hale geldi. Kapsama giren şirketler ve kılavuzlara ilişkin detaylar için TSRS’ye ilişkin hazırladığımız sunumu inceleyebilirsiniz.</p>
		<a href="/turkiye-surdurulebilirlik-raporlama-standartlari/Finar-TSRS_Sunum.pdf" class="block no-underline" target="_blank">
			<div class="my-3 flex w-full flex-col items-center justify-center bg-mavi p-3 text-center">
				<svg xmlns="http://www.w3.org/2000/svg" class="mx-auto" width="52" height="52" viewBox="0 0 24 24" stroke-width="1.5" stroke="#fff" fill="none" stroke-linecap="round" stroke-linejoin="round">
					<path d="M14 3v4a1 1 0 0 0 1 1h4"></path>
					<path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z"></path>
					<path d="M9 9l1 0"></path>
					<path d="M9 13l6 0"></path>
					<path d="M9 17l6 0"></path>
				</svg>
				<p class="mb-0 mt-2 flex items-center font-bold text-white">TSRS&nbsp;Sunumu - İndirmek&nbsp;için tıklayın&nbsp; &nbsp;<FaDownload /></p>
			</div>
		</a>
		<div class="break-inside-avoid">
			<p class="mb-0 font-bold text-mavi">Neden Finar’la çalışmalısınız?</p>
			<ul class="m-0">
				<li class="mt-0">TSRS’ye uyumlu bir rapor yapabilmek için sektörel benchmark analizi ve finansal önceliklendirme çalışması gerçekleştiriyoruz.</li>
				<li class="mt-0">Şirketinize özel sürdürülebilirlik ve iklimle ilgili risk ve fırsatları tanımlıyor ve bunların şirketiniz üzerindeki etkisini ölçmenizi sağlıyoruz.</li>
				<li class="mt-0">Sürdürülebilirlikle ilgili risk ve fırsat yönetimini; şirketinizin yönetişim yapısına, iş modeline, sürdürülebilirlik stratejisine nasıl entegre edeceğinizi anlatıyoruz.</li>
				<li class="mt-0">TSRS kapsamında ölçmeniz gereken metrikleri belirliyor, gerçekçi ve ölçeklenebilir hedefler ortaya koyuyoruz.</li>
				<li class="mt-0">TSRS kitapçığını çok daha anlamlı kılacak, açık ve anlaşılır soru setlerimizle rapor içeriklerinizi geliştiriyoruz.</li>
				<li class="mt-0">TSRS denetimleri sırasında sizlerle birlikte olarak raporun doğrulama ve akreditasyon sürecinde yanınızda oluyoruz.</li>
			</ul>
		</div>
	</div>
	<AltMenu altMenuData={raporlamaAltMenuData} />
</Layout>
