---
import Layout from "~layouts/Layout.astro";
import ArticleTitle from "~components/articleTitle.astro";
import TitleWithLine from "~components/TitleWithLine.astro";
import chevDown from "~images/chevron-down-light.svg?raw";
import { FaDownload } from "react-icons/fa";
---

<Layout title="Türkiye Sürdürülebilirlik Raporlama Standartları">
	<ArticleTitle title="Türkiye Sürdürülebilirlik Raporlama Standartları (TSRS)" spot="TSRS ile sürdürülebilirlik raporlaması 2024 yılı raporlama dönemi itibarıyla ülkemizde zorunlu hale geldi." />
	<TitleWithLine icon={chevDown} />
	<div class="prose mb-6 columns-1 pb-6 tracking-[.1px] prose-p:break-inside-avoid md:columns-2 lg:columns-3">
		<p>
			Kamu Gözetimi, Muhasebe ve Denetim Standartları Kurumu (KGK) tarafından yayımlanan Türkiye Sürdürülebilirlik Raporlama Standartları (TSRS) ile sürdürülebilirlik raporlaması 2024 yılı raporlama dönemi itibarıyla ülkemizde zorunlu hale geldi. Detaylar için TSRS’ye ilişkin hazırladığımız sunumu inceleyebilirsiniz.<br />
			<a href="./Finar-TSRS_Sunum.pdf" class="block no-underline" target="_blank">
				<div class="my-3 flex w-full flex-col items-center justify-center bg-mavi p-3 text-center">
					<svg xmlns="http://www.w3.org/2000/svg" class="mx-auto" width="52" height="52" viewBox="0 0 24 24" stroke-width="1.5" stroke="#fff" fill="none" stroke-linecap="round" stroke-linejoin="round">
						<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
						<path d="M14 3v4a1 1 0 0 0 1 1h4"></path>
						<path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z"></path>
						<path d="M9 9l1 0"></path>
						<path d="M9 13l6 0"></path>
						<path d="M9 17l6 0"></path>
					</svg>
					<p class="mb-0 mt-2 flex items-center text-white">TSRS&nbsp;Sunumu - İndirmek&nbsp;için tıklayın&nbsp; &nbsp;<FaDownload /></p>
				</div>
			</a>
		</p>
		<p>
			Son iki raporlama döneminde üç hadden (Çalışan sayısı: 250, Net satış hasılatı: 1 milyar TL, Aktif büyüklüğü: 500 milyon TL) ikisini karşılayan tüm halka açık ve halka açılmaya hazırlanan izahnamesi yayımlanmış şirketler, pay hariç sermaye piyasası aracı ihraç eden şirketler, bankalar ve banka dışı finansal kuruluşları kapsayan listede yer alan şirketler; TSRS S1 (Sürdürülebilirlikle İlgili Finansal Bilgilerin Açıklanmasına İlişkin Genel Hükümler) ve TSRS S2 (İklimle İlgili
			Açıklamalar) kılavuzlarına göre sürdürülebilirlik raporu yapmak zorundalar.
		</p>
		<p>30 yıllık raporlama deneyimimiz ile müşterilerimize TSRS Raporlaması alanında hizmet vermekten mutluluk duyarız.</p>
	</div>
</Layout>
