---
import FirstSpace from "./firstSpace.astro";

type Props = {
	title: string;
	spot: string;
};
const { title, spot } = Astro.props;
---

<FirstSpace height={64} />
<h1 class="mb-[30px] text-balance font-zilla text-5xl"><Fragment set:html={title} /></h1>
<h2 class="mb-[36px] font-zilla text-4xl text-mavi"><Fragment set:html={spot} /></h2>
