---
import FirstSpace from "./firstSpace.astro";
import CollectionItemSpot from "./collectionItemSpot.astro";
type Props = {
	title: string;
	spot: string;
};
const { title, spot } = Astro.props;
---

<FirstSpace height={64} />
<h1 class="text-52 mb-[30px] text-balance font-zilla leading-none"><Fragment set:html={title} /></h1>
<CollectionItemSpot collectionItemSpot={spot} />
<!-- <h2 class="mb-[36px] font-zilla text-4xl text-mavi"><Fragment set:html={spot} /></h2> -->
