---
type Props = {
	title: string;
	subtitle: string;
};
const { title, subtitle } = Astro.props;
---

<h1 class="mb-[30px] font-zilla text-5xl">{title}</h1>
<h2 class="mb-[36px] font-zilla text-4xl text-mavi">{subtitle}</h2>
