---
import { Image } from "astro:assets";

type Props = {
    alt: string;
};

const { alt } = Astro.props;

import AWARD_IMAGE from "~images/AWARD_WINNER.png";
---

<a aria-label="Ödüller" title="Ödüller" href="/oduller/">
    <Image src={AWARD_IMAGE} alt={alt} class="w-1/2 sm:w-1/3" />
</a>
