---
import { Image } from "astro:assets";

type Props = {
	alt: string;
	grand?: boolean;
};

const { alt, grand = false } = Astro.props;

import AWARD_IMAGE from "~images/AWARD_WINNER.png";
import GRAND_AWARD_IMAGE from "~images/GRAND_AWARD.png";
---

<a aria-label="Ödüller" title="Ödüller" href="/oduller/">
	{grand ? <Image src={GRAND_AWARD_IMAGE} alt={alt} class="w-1/2 sm:w-1/3" /> : <Image src={AWARD_IMAGE} alt={alt} class="w-1/2 sm:w-1/3" />}
</a>
