---
type Props = {
	collectionItemSpot: string;
};

const { collectionItemSpot } = Astro.props;
---

<h2 class="mb-[36px] mt-0 w-full text-pretty py-3 font-zilla text-2xl text-mavi sm:text-4xl lg:w-10/12"><Fragment set:html={collectionItemSpot} /></h2>
