---
type Props = {
	collection: string;
	category: string;
};

const { collection, category } = Astro.props;
---

<p class="mt-6 text-[14.4px] font-light uppercase tracking-[1px] text-mavi">
	<a title={category} aria-label={category} href={`/${collection}/`}>{category}</a>
</p>
