---
type Props = {
	iconSvg: string;
	number: string;
	text: string;
	bgColor: string;
};
const { iconSvg, number, text, bgColor } = Astro.props;
---

<div class="finarsal-gosterge flex flex-col" style={`background-color: ${bgColor};`}>
	<Fragment set:html={iconSvg} />
	<div class="border-y-2 pb-4 font-zilla text-[72px] leading-none md:text-[65px] lg:text-[55px] xl:text-[64px]"><span class="font-semibold">{number}</span></div>
	<div class="mt-2 font-zilla text-[25px] md:text-[20px]">{text}</div>
</div>

<style is:inline>
	.finarsal-gosterge {
		padding: 1.25rem;
	}
	.finarsal-gosterge svg {
		max-width: 50%;
		margin-bottom: 25%;
	}
</style>
