---
import { DAHA_FAZLA_BILGI } from "~config";
import chevDown from "~images/chevron-down-light.svg?raw";
const { text } = Astro.props;
---

<h3 class="relative mb-[20px] text-base font-light after:absolute after:left-0 after:top-2/4 after:z-0 after:-mt-[1px] after:h-[1px] after:w-full after:bg-[#e1e8ed] after:content-['']">
	<span class="relative z-10 bg-white pr-[1.5rem]">{DAHA_FAZLA_BILGI}</span>
	<div class="absolute right-0 top-0 z-10 m-0 inline bg-[#fff] p-0 pl-[1.5rem]">
		<!-- <img src={chevDown.src} width="16px" height="18px" alt="" /> -->
		<Fragment set:html={chevDown} />
	</div>
</h3>
<div class="prose mb-6 columns-1 pb-6 tracking-[.1px] prose-p:break-inside-avoid md:columns-2 lg:columns-3">
	<Fragment set:html={text} />
</div>
