---
import { DAHA_FAZLA_BILGI } from "~config";
import chevDown from "~images/chevron-down-light.svg?raw";
import TitleWithLine from "./TitleWithLine.astro";
const { text } = Astro.props;
---

<TitleWithLine title={DAHA_FAZLA_BILGI} icon={chevDown} />
<div class="prose mb-6 columns-1 pb-6 tracking-[.1px] prose-p:break-inside-avoid md:columns-2 lg:columns-3">
	<Fragment set:html={text} />
</div>
