---
import { DAHA_FAZLA_BILGI } from "~config";
import chevDown from "~images/chevron-down-light.svg?raw";
import TitleWithLine from "./TitleWithLine.astro";
interface Props {
	column?: 2 | 3;
	text: string;
}
const { text, column = 3 } = Astro.props;
---

<TitleWithLine title={DAHA_FAZLA_BILGI} icon={chevDown} />
<div class:list={["prose mb-6 columns-1 pb-6 tracking-[.1px] prose-p:mt-0 prose-p:break-inside-avoid prose-ul:mt-0 md:columns-2", { "lg:columns-3": column === 3 }]}>
	<Fragment set:html={text} />
</div>
