---
import logoSvg from "../../public/finar-logo.svg?raw";
//const nav = [{}];
---

<nav id="navigation">
    <div class="container px-[15px] pb-[19px] pt-[48px]">
        <div class="inner flex">
            <div class="site-title h-[40px] w-[112px] flex-none">
                <a aria-label="Finar Logo" href="/"><Fragment set:html={logoSvg} /></a>
            </div>
            <div class="site-menu grow"></div>
        </div>
    </div>
</nav>
