---

---

<div id="pop">
	<div class="container h-full">
		<div class="flex h-full flex-col justify-between pt-10 sm:pt-2">
			<section id="popheader" class="w-100 flex w-full flex-col justify-center px-4 sm:flex-row sm:justify-between">
				<div class="flex flex-col items-center justify-center sm:flex-row">
					<svg style="height:40px;width:auto" id="finarpoplogo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 142.3 42.6">
						<path d="M21.4,12.4v5.6c0,.3-.3.6-.6.6h-11c-.3,0-.6.3-.6.6v5.3c0,.3.3.6.6.6h9.4c.3,0,.6.3.6.6v5.7c0,.3-.3.6-.6.6h-9.3c-.3,0-.6.3-.6.6v9.4c0,.3-.3.6-.6.6H.6c-.3,0-.6-.3-.6-.6h0V12.4c0-.3.3-.6.6-.6h20.3c.3,0,.5.2.5.6q0-.1,0,0h0Z" fill="#fff" stroke-width="0"></path>
						<path d="M76.5,42.5h-7.6c-.2,0-.3-.1-.4-.2l-10.9-14.1c-.7-.7-1.1-1.6-1.4-2.6v16.4c0,.3-.3.6-.6.6h-7.1c-.3,0-.6-.2-.6-.5h0V12.4c0-.3.3-.6.6-.6h7.4c.2,0,.3.1.5.2l11,14.4c.7.8,1.2,1.8,1.5,2.8V12.4c0-.3.3-.6.6-.6h7.1c.3,0,.6.3.6.6v29.6c-.1.3-.4.5-.7.5h0Z" fill="#fff" stroke-width="0"></path>
						<path d="M111.7,41.7l-10.2-29.6c0-.2-.3-.4-.5-.4h-9.8c-.2,0-.4.2-.5.4l-10.8,29.6v.2c0,.4.3.6.6.6h8.5c.2,0,.4-.2.5-.4l1.7-5.3c0-.2.3-.4.5-.4h7.3c.2,0,.4.2.5.4l1.4,5.3c0,.2.2.4.5.4h9.7q.1,0,.3-.1c.3-.1.4-.4.3-.7ZM98,30.3c0,.4-.3.6-.6.6h-4.2c-.3-.1-.5-.4-.4-.7l2.3-8.3c.3-.9.4-1.8.5-2.7,0,.4,0,.8.1,1.2.1.7.2,1.2.3,1.5l2,8.3v.1Z" fill="#fff" stroke-width="0"></path>
						<path d="M142.2,41.7l-6.6-10.9c-.1-.2-.1-.5.1-.7,3.1-3.1,4.6-6.1,4.6-8.8,0-6.3-4.1-9.5-12.3-9.5h-12.7c-.3,0-.6.3-.6.6v29.6c0,.3.3.6.6.6h8.2c.3,0,.6-.3.6-.6v-9.3c0-.3.3-.6.6-.6h1.1c.6,0,1.2.3,1.5.9l4.6,9.2c.1.2.3.3.5.3h9.6c.3-.2.4-.5.2-.8ZM130,26.1c-.1.2-.3.4-.5.4h-4.8c-.3,0-.6-.3-.6-.6v-6.9c0-.3.3-.6.6-.6h2.2c2.8,0,4.2,1.3,4.2,3.9-.2,1.2-.5,2.5-1.1,3.8Z" fill="#fff" stroke-width="0"></path>
						<path d="M43.4,42.5h-17c-.3,0-.5-.2-.6-.5h0v-4.9c0-.3.3-.6.6-.6h3.2c.3,0,.6-.3.6-.6h0v-17.2c0-.3-.3-.6-.6-.6h-3c-.3,0-.6-.3-.6-.6v-5.2c0-.3.3-.6.6-.6h16.8c.3,0,.6.3.6.6h0v5.2c0,.3-.3.6-.6.6h-3.3c-.3,0-.6.3-.6.6h0v17.3c0,.3.3.6.6.6h3.3c.3,0,.6.3.6.6h0v4.8c-.1.3-.3.5-.6.5ZM30.6,0h8.4c.3,0,.6.3.6.6v7.8c0,.3-.3.6-.6.6h-8.4c-.3,0-.6-.3-.6-.6V.6c.1-.3.3-.6.6-.6Z" fill="#fff" stroke-width="0"></path>
					</svg>
					<span class="mb-0 pt-1 font-bold text-white sm:pt-4">&nbsp;&nbsp;GURURLA SUNAR</span>
				</div>
				<svg id="finar100svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 79 29" class="mx-auto mt-4 sm:ml-auto sm:mr-0 sm:mt-0" style="width:185px;height:auto;padding-block:15px">
					<g transform="translate(-27,0)">
						<path
							d="M75.5,10.87c.73,2.21,2.76,3.8,5.16,3.8,1.85,0,3.47-.94,4.46-2.38-1.15,2.34-3.51,3.96-6.25,3.96-1.97,0-3.74-.83-5.01-2.17.79-.92,1.35-2.03,1.64-3.21M85.46,8.46l-1.98.64,1.98.64v2.07l1.22-1.67,1.98.64h0s-1.22-1.67-1.22-1.67l1.22-1.67h0s-1.98.64-1.98.64l-1.22-1.68v2.07ZM58.57,1.94l-5.19,2.75,1.6,2.84,1.61-.84v11.21l4.19-3.22V4.04l-2.2-2.1ZM78.87,1.94c-3.2,0-5.88,2.2-6.72,5.19-.01.04-.02.09-.04.14-.04.15-.08.3-.11.46-.02.1-.03.2-.05.3-.02.11-.04.22-.05.34-.02.22-.04.44-.04.67,0,.02,0,.04,0,.08,0,2.02-1.6,3.65-3.57,3.65s-3.58-1.64-3.58-3.66,1.6-3.66,3.58-3.66c1.44,0,2.68.88,3.25,2.13.26-1.29.85-2.5,1.72-3.51-1.27-1.31-3.02-2.12-4.97-2.12-3.86,0-7,3.21-7,7.16s3.13,7.16,7,7.16c2.11,0,4-.96,5.28-2.48,0,0,.02-.02.02-.03.09-.11.17-.22.25-.33.03-.04.06-.09.09-.13.09-.12.17-.25.25-.38.01-.02.03-.04.04-.06.24-.41.45-.84.61-1.28.03-.07.05-.14.08-.21.03-.09.06-.19.09-.29.04-.15.08-.29.11-.44.01-.04.02-.09.03-.13.14-.7.02-1.4.1-2.1.34-2.75,2.62-4.88,5.4-4.88,1.84,0,3.47.94,4.46,2.38-1.15-2.34-3.51-3.96-6.25-3.96M85.46,8.46l-1.98.64,1.98.64v2.07l1.22-1.67,1.98.64h0s-1.22-1.67-1.22-1.67l1.22-1.67h0s-1.98.64-1.98.64l-1.22-1.68v2.07ZM78.87,1.94c-3.2,0-5.88,2.2-6.72,5.19-.01.04-.02.09-.04.14-.04.15-.08.3-.11.46-.02.1-.03.2-.05.3-.02.11-.04.22-.05.34-.02.22-.04.44-.04.67,0,.02,0,.04,0,.08,0,2.02-1.6,3.65-3.57,3.65s-3.58-1.64-3.58-3.66,1.6-3.66,3.58-3.66c1.44,0,2.68.88,3.25,2.13.26-1.29.85-2.5,1.72-3.51-1.27-1.31-3.02-2.12-4.97-2.12-3.86,0-7,3.21-7,7.16s3.13,7.16,7,7.16c2.11,0,4-.96,5.28-2.48,0,0,.02-.02.02-.03.09-.11.17-.22.25-.33.03-.04.06-.09.09-.13.09-.12.17-.25.25-.38.01-.02.03-.04.04-.06.24-.41.45-.84.61-1.28.03-.07.05-.14.08-.21.03-.09.06-.19.09-.29.04-.15.08-.29.11-.44.01-.04.02-.09.03-.13.06-.3.07-.6.07-.9,0-.18,0-.35,0-.53,0-.22,0-.44.03-.67.34-2.75,2.62-4.88,5.4-4.88,1.84,0,3.47.94,4.46,2.38-1.15-2.34-3.51-3.96-6.25-3.96M58.57,1.94l-5.19,2.75,1.6,2.84,1.61-.84v11.21l4.19-3.22V4.04l-2.2-2.1Z"
							fill="#fff"
							stroke-width="0"></path>
					</g>
					<path
						d="M77.63,23.84h-2.78v.68h.98v3.34h.81v-3.34h.99v-.68ZM73.51,25.47h-1.26v-.95h1.49v-.68h-2.3v4.01h2.3v-.67h-1.49v-1.06h1.26v-.65ZM68.22,23.84h-.88l1.08,2.56v1.45h.82v-1.45l1.08-2.56h-.88l-.6,1.8-.61-1.8ZM65.46,23.43c.07.07.17.11.3.11s.23-.03.3-.11c.07-.07.11-.16.11-.27s-.04-.21-.12-.28c-.08-.07-.18-.11-.29-.11s-.22.04-.29.11c-.08.07-.12.16-.12.28s.04.2.11.27M66.17,23.84h-.81v4.01h.81v-4.01ZM62.25,24.52h.47c.32,0,.47.2.47.6,0,.18-.04.32-.12.43-.08.11-.2.16-.36.16h-.46v-1.2ZM63.25,27.86h.87v-.04l-.7-1.64c.39-.21.58-.59.58-1.12,0-.39-.11-.69-.33-.9-.22-.21-.53-.32-.94-.32h-1.29v4.01h.81v-1.47h.4l.6,1.47ZM59.25,23.84v2.78c0,.22-.04.38-.11.48-.07.1-.2.14-.4.14s-.33-.05-.4-.15c-.07-.1-.11-.26-.11-.49v-2.76h-.82v2.76c0,.42.11.75.34.97.23.22.56.34.99.34s.75-.11.97-.33c.23-.22.34-.54.35-.96v-2.78h-.81ZM56.04,23.84h-.81v1.62h-1.2v-1.62h-.81v4.01h.81v-1.72h1.2v1.72h.81v-4.01ZM48.18,23.84v4.01h.81v-1.09l-.08-1.67.8,2.76h.55l.8-2.76-.08,1.67v1.09h.81v-4.01h-1.06l-.76,2.9-.76-2.9h-1.06ZM45.99,23.84v2.78c0,.22-.04.38-.11.48-.07.1-.2.14-.4.14s-.33-.05-.4-.15c-.07-.1-.11-.26-.11-.49v-2.76h-.82v2.76c0,.42.11.75.34.97.23.22.56.34.99.34s.75-.11.97-.33c.23-.22.34-.54.34-.96v-2.78h-.81ZM42.12,26.52c-.01.27-.06.46-.14.56-.08.1-.23.15-.44.15s-.37-.07-.46-.22c-.09-.15-.13-.42-.13-.82v-.76c0-.35.05-.6.14-.75.09-.15.24-.23.46-.23s.36.05.44.16c.08.11.12.3.13.58h.81c-.03-.46-.16-.81-.39-1.05-.23-.24-.56-.37-1-.37s-.79.15-1.04.45c-.25.3-.38.72-.38,1.27v.68c0,.55.12.98.36,1.28.24.3.59.45,1.04.45s.77-.12,1-.35c.24-.23.36-.58.38-1.04h-.81ZM36.93,23.84h-.81v2.63l-1.19-2.63h-.81v4.01h.81v-2.63l1.19,2.63h.81v-4.01ZM32.68,23.84h-.81v4.01h.81v-4.01ZM29.29,27.25c-.2,0-.35-.05-.44-.16s-.14-.27-.14-.5h-.81c0,.27.06.5.18.7.12.2.29.35.5.46.21.11.45.16.71.16.38,0,.68-.1.91-.29.22-.2.33-.47.33-.82,0-.32-.09-.58-.27-.79-.18-.21-.46-.38-.85-.52-.22-.1-.38-.19-.47-.28-.09-.09-.13-.19-.13-.3,0-.14.04-.25.12-.34.08-.08.19-.12.33-.12.15,0,.27.05.35.15.08.1.12.24.12.43h.81c0-.24-.05-.46-.16-.64-.1-.19-.25-.34-.44-.44-.19-.1-.41-.16-.66-.16-.37,0-.67.1-.91.31-.24.2-.36.48-.36.82,0,.28.09.52.26.73.18.21.47.38.87.54.22.09.37.18.46.26.08.08.12.21.12.37,0,.3-.14.45-.42.45M25.25,24.93l.38,1.43h-.75l.38-1.43ZM26.02,27.86h.86l-1.26-4.01h-.74l-1.25,4.01h.86l.22-.82h1.1l.22.82ZM21.04,27.84l-.07.39c.11,0,.19.03.24.06.05.03.07.08.07.15,0,.15-.07.23-.2.23l.02.46c.27,0,.48-.06.62-.18.14-.12.22-.28.22-.48,0-.13-.03-.24-.09-.32-.06-.08-.14-.13-.25-.16l.02-.16h-.58ZM21.35,27.25c-.2,0-.35-.05-.44-.16s-.14-.27-.14-.5h-.81c0,.27.06.5.18.7.12.2.29.35.5.46.21.11.45.16.71.16.38,0,.68-.1.91-.29.22-.2.33-.47.33-.82,0-.32-.09-.58-.27-.79-.18-.21-.46-.38-.85-.52-.22-.1-.38-.19-.47-.28-.09-.09-.13-.19-.13-.3,0-.14.04-.25.12-.34.08-.08.19-.12.33-.12.15,0,.27.05.35.15.08.1.12.24.12.43h.81c0-.24-.05-.46-.16-.64-.1-.19-.25-.34-.44-.44-.19-.1-.41-.16-.66-.16-.37,0-.67.1-.91.31s-.36.48-.36.82c0,.28.09.52.26.73.18.21.47.38.87.54.22.09.37.18.46.26.08.08.12.21.12.37,0,.3-.14.45-.42.45M17.31,24.93l.38,1.43h-.75l.37-1.43ZM18.08,27.86h.87l-1.26-4.01h-.74l-1.25,4.01h.86l.22-.82h1.1l.22.82ZM13.14,23.84h-.88l1.08,2.56v1.45h.82v-1.45l1.08-2.56h-.88l-.6,1.8-.61-1.8Z"
						fill="#fff"
						stroke-width="0"></path>
				</svg>
			</section>
			<section class="mx-auto w-11/12 pt-10 sm:w-9/12">
				<div class="flex flex-col justify-center">
					<svg id="sifirdanyuzesvg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 437.59 206.07" class="cover-logo mx-auto" style="max-height:calc(100svh - 304px);max-width:650px;">
						<g>
							<rect x="89.2" y="100.25" width="8.51" height="104.82" fill="#fff" stroke-width="0"></rect>
							<path d="M437.58,166.82v-22.74c0-10.01-7.01-15.01-14.01-15.01s-14.01,5-14.01,14.85v46.81c0,9.84,7.01,14.84,14.01,14.84s14.01-5,14.01-15.01v-16.07h-8.17v16.07c0,4.67-2.67,7.01-5.5,7.01-2.67,0-5.5-2.33-5.5-7.01v-23.74h19.18,0ZM418.4,137.41h10.84v22.4h-10.84v-22.4Z" fill="#fff" stroke-width="0"></path>
							<path d="M134.35,90.84c-1.33-1.17-2.83-2.17-4.5-2.84-1.67-.5-3.34-.83-5-.83h-16.68v117.9h9.01v-58.17h7.67c3,0,4.5,2.5,4.5,7.34v50.83h9.51v-51.5c0-6.34-2.84-9.51-8.51-9.51h-.67v-1.67c6.17,0,9.17-3.84,9.17-11.34v-28.04c0-2.84-.33-5.17-1.17-7.17-.83-2-2-3.67-3.34-5h0ZM129.35,132.05c0,5-1.5,7.51-4.5,7.51h-7.67v-44.38h12.18v36.88h-.01Z" fill="#fff" stroke-width="0"></path>
							<path d="M14.34,134.95c-7.01,0-14.01,5-14.01,15.01v16.37c0,4.32,3.5,7.82,7.82,7.82h11.36v22.58h-11.17v-6.45H0v.28c0,10.01,7.17,15.01,14.18,15.01s14.01-4.84,14.18-14.68v-16.27c0-4.32-3.5-7.82-7.82-7.82h-11.36v-23.85h10.84v7.5h8.34v-.49c0-10.01-7.01-15.01-14.01-15.01h-.01Z" fill="#fff" stroke-width="0"></path>
							<polygon points="56.4 205.06 65.24 205.06 65.24 166.08 77.58 166.08 77.58 157.24 65.24 157.24 65.24 122.4 81.08 122.4 81.08 113.06 56.4 113.06 56.4 205.06" fill="#fff" stroke-width="0"></polygon>
							<rect x="37.71" y="127.23" width="8.51" height="77.83" fill="#fff" stroke-width="0"></rect>
							<path d="M328.59,0c-10.51,0-16.68,4.84-16.68,15.85v174.54c0,8.51,4.17,15.68,16.01,15.68,10.51,0,14.68-5.5,14.68-15.68V15.85c0-8.51-4.84-15.85-14.01-15.85ZM333.09,188.89c0,3.5-.5,9.17-5.17,9.17-5.5,0-6.51-4.5-6.51-9.17V8.84h11.67v180.05h.01Z" fill="#fff" stroke-width="0"></path>
							<path d="M206.92,58.31c-10.51,0-16.68,4.84-16.68,15.84v130.91h9.51v-60.62h11.68v60.62h9.51V74.16c0-8.51-4.84-15.84-14.01-15.84h0ZM199.75,137.09v-69.94h11.68v69.94h-11.68Z" fill="#fff" stroke-width="0"></path>
							<path d="M248.02,44.47c-10.51,0-16.68,4.84-16.68,15.84v144.75h9.51V53.31h11.68v151.76h9.51V60.31c0-8.51-4.84-15.84-14.01-15.84h-.01Z" fill="#fff" stroke-width="0"></path>
							<polygon points="292.35 10.51 281.01 10.51 281.01 19.68 292.35 19.68 292.35 205.06 301.85 205.06 301.85 1 292.35 1 292.35 10.51" fill="#fff" stroke-width="0"></polygon>
							<path d="M165.82,73.29h-16.68v131.77h16.68c6.67,0,14.01-4,14.01-15.18v-101.25c0-11.17-7.34-15.34-14.01-15.34ZM170.32,188.38c0,6.67-2.5,8.67-5.34,8.67h-6.51v-115.76h11.84v107.09h0Z" fill="#fff" stroke-width="0"></path>
							<path d="M369.64,0c-10.51,0-16.68,4.84-16.68,15.85v174.54c0,8.51,4.17,15.68,16.01,15.68,10.51,0,14.68-5.5,14.68-15.68V19.61c0-8.51-4.84-19.61-14.01-19.61ZM374.14,188.89c0,3.5-.5,9.17-5.17,9.17-5.5,0-6.51-4.5-6.51-9.17V8.84h11.68v180.05h0Z" fill="#fff" stroke-width="0"></path>
							<polygon points="394.38 128.8 398.72 128.8 396.22 138.64 400.39 138.64 404.06 128.8 404.06 114.29 394.38 114.29 394.38 128.8" fill="#fff" stroke-width="0"></polygon>
						</g>
					</svg>
					<div class="mt-4 text-center text-xl font-bold text-white sm:text-3xl">Cumhuriyetimizin Sürdürülebilirlik Raporu 2023</div>
				</div>
				<div class="flex items-center justify-center py-8">
					<a href="http://sifiryuz.finarkurumsal.com" target="_blank">
						<button type="button" id="raporagit" class="text-md mb-2 me-2 rounded-lg bg-white px-4 py-2 font-bold text-red hover:text-black">RAPORU İNCELE</button>
					</a>
					<button id="anasayfayagit" type="button" id="raporagit" class="text-md mb-2 me-2 rounded-lg bg-white px-4 py-2 font-bold text-red hover:text-black">ANASAYFA'YA GİT</button>
				</div>
			</section>
			<section class="flex"></section>
		</div>
	</div>
</div>

<style>
	#pop {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		min-height: var(--page-height);
		background-color: #e30613;
		z-index: 100;
	}
</style>

<script is:inline type="text/javascript">
	(function () {
		const goHomeButton = document.getElementById("anasayfayagit");
		const pops = document.getElementById("pop");
		goHomeButton.addEventListener("click", () => {
			pops.classList.add("hidden");
		});
	})();
</script>
