---
type Props = {
	id: string;
	title: string;
	classes: string;
};
const { id, title, classes } = Astro.props;
---

<div style="padding:56.25% 0 0 0;position:relative;" class={classes}>
	<iframe
		class="aspect-video w-full bg-black"
		src={`https://player.vimeo.com/video/${id}?badge=0&autopause=0&player_id=0&app_id=58479`}
		allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
		style="position:absolute;top:0;left:0;width:100%;height:100%;"
		title={title}></iframe>
</div>
<script src="https://player.vimeo.com/api/player.js"></script>
