---
import ArticleTitle from "~components/articleTitle.astro";
import Layout from "~layouts/Layout.astro";
const title = "Bir Bakışta Finar";
const subtitle = "Farklı alanlarda, farklı marifetlerimizle ortaya koyduğumuz işlerden 98 saniyelik bir showreel filmi...";
---

<Layout title={title} seoImage="/og/finar-og.png">
	<ArticleTitle title={title} spot={subtitle} />
	<div class="embed-responsive embed-responsive-16by9">
		<video src="/bir-bakista-finar.mp4" muted loop playsinline controls class="embed-responsive-item"></video>
	</div>
</Layout>

<style>
	.embed-responsive {
		position: relative;
		display: block;
		width: 100%;
		height: 0;
		padding: 0;
		overflow: hidden;
		margin: 0;
	}
	.embed-responsive-16by9::before {
		padding-top: 56.25%;
	}
	.embed-responsive-16by9 {
		padding-bottom: 56.25%;
	}
	.embed-responsive .embed-responsive-item {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border: 0;
	}
</style>

<script is:inline>
	// FİNAR'a active link indicator'ı ekler.
	document.querySelector("a[aria-label='BİZ KİMİZ?']").classList.add("aw-link-active");
</script>
