---
type Props = {
	title: string;
	subtitle?: string;
};
const { title, subtitle } = Astro.props;
---

<div class="mb-4 grid grid-cols-1 gap-4 lg:mb-8 lg:grid-cols-12">
	<div class="lg:col-span-4">
		<h2 class="mb-8 mt-8 font-zilla text-5xl lg:mt-0">{title}</h2>
		{subtitle && <h3 class="mb-8 mt-8 font-zilla text-2xl lg:mt-0">{subtitle}</h3>}
	</div>
	<div class="prose prose-h3:mb-0 prose-h3:text-balance prose-h3:text-base prose-h3:font-bold prose-h3:font-normal prose-h3:text-mavi prose-p:mb-4 prose-p:mt-0 prose-p:leading-[1.6] prose-a:no-underline lg:col-span-8">
		<slot />
	</div>
</div>
