---
type Props = {
    title: string;
    subtitle?: string;
};
const { title, subtitle } = Astro.props;
---

<div class="grid grid-cols-1 lg:grid-cols-12 gap-4 mb-4 lg:mb-8">
    <div class="lg:col-span-4">
        <h2 class="font-zilla text-5xl mt-8 lg:mt-0 mb-8">{title}</h2>
        {subtitle && <h3 class="font-zilla text-2xl mt-8 lg:mt-0 mb-8">{subtitle}</h3>}
    </div>
    <div class="lg:col-span-8 prose prose-p:mb-4 prose-p:mt-0 prose-h6:text-mavi prose-h6:mb-0 prose-h6:font-base">
        <slot />
    </div>
</div>
